@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, rgb(100, 238, 155) , rgb(154, 68, 194));
}